body{
    background: linear-gradient(gray 50%, black 100%);
    text-align: center;
}

#profilepic{
    height: 200px;
    width: 200px;
}

h1{
    font-size: 50px;
}

#welcome{
    font-family: 'Otomanopee One', sans-serif;
}

#namehead{
    color: blue;
}

#about{
    font-family: 'Otomanopee One', sans-serif;
    color: white;
}

#abouthead{
    font-size: 45px;
    color: chartreuse;
}

#bar{
    width: 70px;
    height: 7px;
    background-color: tomato;
}

.sociallinks{
    font-size: 30px;
}

.links{
    list-style: none;
    display: inline-block;
    margin: 10px;
    font-size: 25px;
}

.menu{
    display: inline-block;
    background-color: yellowgreen;
    width: 100%;
    margin-top: 0px;
}

.links:hover{
    font-size: 35px;
}

#colorwhite{
    color: white;
}